{include="header"}

		<div id="main" class="wrapper clearfix about">

			<div id="menuBar">
				<aside>
					<h3>{function="I18n::t('AUTHOR')"}</h3>
					<ul>
							<li>{function="I18n::t('NAME')"} : Valentin CARRUESCO aka Idleman</li>
							<li>{function="I18n::t('MAIL')"} : <a href="mailto: idleman@idleman.fr">idleman@idleman.fr</a></li>
							<li>{function="I18n::t('BLOG')"} : <a href="http://blog.idleman.fr">blog.idleman.fr</a></li>
							<li>{function="I18n::t('CONTRIBUTORS')"} : <a href="mailto:cobalt74@gmail.com">Maël ILLOUZ aka Cobalt64</a>, <a href="mailto:christophe.henry@sbgodin.fr">Christophe HENRY aka Sbgodin</a>, <a href="mailto:contact@simounet.net">Simon ALBERNY aka Simounet</a></li>
					</ul>
				</aside>
			</div>
			
			<article>
				<header>
					<h1>{function="I18n::t('ABOUT')"}</h1>
					<p>{function="I18n::t('ABOUT_LEED')"}</p>
				</header>
				

				<section>
					<h2>{function="I18n::t('GENERALITY')"} :</h2>
					<ul>
						<li><b>{function="I18n::t('APPLICATION')"} :</b> Leed (Light Feed)</li>
						<li><b>{function="I18n::t('VERSION')"} :</b> {$VERSION_NUMBER} {$VERSION_NAME}</li>
						<li><b>{function="I18n::t('AUTHOR')"} :</b> Valentin CARRUESCO aka <a href="mailto:idleman@idleman.fr">Idleman</a></li>
						<li><b>{function="I18n::t('PROJECT_PAGE')"}:</b> <a href="http://projet.idleman.fr/leed">http://projet.idleman.fr/leed</a></li>
						<li><b>{function="I18n::t('GIT_REPOSITORY')"} :</b> <a href="https://github.com/ldleman/Leed.git">https://github.com/ldleman/Leed.git</a></li>
						<li><b>Licence :</b> <a href="http://creativecommons.org/licenses/by-nc-sa/2.0/fr/">CC by-nc-sa</a></li>
					</ul>

					<h2>{function="I18n::t('PRESENTATION')"}</h2>
					<p>{function="I18n::t('PRESENTATION_PARAGRAPH')"}</p>

					<h2>{function="I18n::t('INSTALLATION')"}</h2>
					{function="I18n::t('INSTALLATION_PARAGRAPH')"}
					
					<h2>{function="I18n::t('QUESTIONS_SUGGESTIONS')"}</h2>
					{function="I18n::t('QUESTIONS_SUGGESTIONS_PARAGRAPH')"}
					
					<h2>{function="I18n::t('LIBRARIES')"}</h2>
					{function="I18n::t('LIBRARIES_PARAGRAPHE')"}
					
				</section>
				


			</article>
			
			
		</div> <!-- #main -->


{include="footer"}
