{include="header"}

        <div id="main" class="wrapper clearfix about">

            <div id="menuBar">
                <aside>
                    <h3>{function="_t('AUTHOR')"}</h3>
                    <ul>
                            <li>{function="_t('NAME')"}&nbsp;: Valentin CARRUESCO aka Idleman</li>
                            <li>{function="_t('BLOG')"}&nbsp;: <a href="http://blog.idleman.fr">blog.idleman.fr</a></li>
                    </ul>
                    <h3>{function="_t('CONTRIBUTORS')"}</h3>
                    <ul>
                            <li><a href="https://www.cobestran.com">Maël ILLOUZ aka Cobalt74</a></li>
                            <li><a href="http://sbgodin.fr">Christophe HENRY aka Sbgodin</a></li>
                            <li><a href="https://www.simounet.net">Simon ALBERNY aka Simounet</a></li>
                    </ul>
                </aside>
            </div>

            <article>
                <header>
                    <h1>{function="_t('ABOUT')"}</h1>
                    <p>{function="_t('ABOUT_LEED')"}</p>
                </header>


                <section>
                    <h2>{function="_t('GENERALITY')"} :</h2>
                    <ul>
                        <li><b>{function="_t('APPLICATION')"} :</b> Leed (Light Feed)</li>
                        <li><b>{function="_t('VERSION')"} :</b> {#LEED_VERSION_NUMBER#} {#LEED_VERSION_NAME#}</li>
                        <li><b>{function="_t('AUTHOR')"} :</b> Valentin CARRUESCO aka <a href="http://blog.idleman.fr">Idleman</a></li>
                        <li><b>{function="_t('PROJECT_PAGE')"} :</b> <a href="http://projet.idleman.fr/leed">http://projet.idleman.fr/leed</a></li>
                        <li><b>{function="_t('GIT_REPOSITORY')"} :</b> <a href="https://github.com/LeedRSS/Leed.git">https://github.com/LeedRSS/Leed.git</a></li>
                        <li><b>{function="_t('LICENSE')"} :</b> <a href="https://www.gnu.org/licenses/agpl-3.0.html">AGPL-3.0</a></li>
                    </ul>

                    <h2>{function="_t('PRESENTATION')"}</h2>
                    <p>{function="_t('PRESENTATION_PARAGRAPH')"}</p>

                    <h2>{function="_t('INSTALLATION')"}</h2>
                    {function="_t('INSTALLATION_PARAGRAPH')"}

                    <h2>{function="_t('QUESTIONS_SUGGESTIONS')"}</h2>
                    {function="_t('QUESTIONS_SUGGESTIONS_PARAGRAPH')"}

                    <h2>{function="_t('LIBRARIES')"}</h2>
                    {function="_t('LIBRARIES_PARAGRAPHE')"}

                </section>



            </article>


        </div> <!-- #main -->


{include="footer"}
