{loop="$events"}
    {$plainDescription=strip_tags($value->getDescription())}

    <!-- CORPS ARTICLE -->

    {function="Plugin::callHook("event_pre_section", array(&$value))"}
    <section id="{$value->getId()}" data-feed="{$value->getFeed()}" class="{if="!$value->getUnread()"}eventRead{/if} {$hightlighted%2==0?'eventHightLighted':''}{$scroll?' scroll':''}" {$scroll?'style="display: none;"':''}>
        <a title="{function="_t('RETURN_TO_TOP')"}" class="goTopButton" href="#pageTopAnvil">ˆ</a>
        <!-- TITRE -->
        <h2 class="articleTitle">
            {function="Plugin::callHook("event_pre_title", array(&$value))"}
            <a onclick="readThis(this,{$value->getId()},'title');" target="_blank" href="{$value->getLink()}" title="{$plainDescription}">{$value->getTitle()}</a>
            {function="Plugin::callHook("event_post_title", array(&$value))"}
        </h2>
        <!-- DETAILS + OPTIONS -->
        <h3 class="articleDetails">
            {function="Plugin::callHook("event_pre_top_options", array(&$value))"}
            {if="$articleDisplayLink"}
                <a href="{$value->getLink()}" target="_blank">{$allFeeds['idMap'][$value->getFeed()]['name']}</a>
            {/if}
            {if="$articleDisplayAuthor"}
                {if="$value->getCreator()"}
                    {function="_t('BY')"} {$value->getCreator()}
                {/if}
            {/if}

            {if="$articleDisplayDate"}
                {$value->getPubdateWithInstant($time)}
            {/if}
            {if="$value->getFavorite()!=1"} -  <a class="pointer favorite" onclick="addFavorite(this,{$value->getId()});" >{function="_t('FAVORIZE')"}</a>
            {else}
            <a class="pointer favorite" onclick="removeFavorite(this,{$value->getId()});" >{function="_t('UNFAVORIZE')"}</a>
            {/if}
            {if="$articleDisplayMode=='title'"}
            <a class="pointer" id="btnDisplayMode_{$value->getId()}" onclick="toggleArticleDisplayMode(this,{$value->getId()})" title="{function="_t('EVENT_DISPLAY_TITLE')"}">|&nbsp;&nbsp;</a>
            {/if}
            {if="$articleDisplayMode=='summary'"}
            <a class="pointer" id="btnDisplayMode_{$value->getId()}" onclick="toggleArticleDisplayMode(this,{$value->getId()})" title="{function="_t('EVENT_DISPLAY_SUMMARY')"}">||&nbsp;</a>
            {/if}
            {if="$articleDisplayMode=='content'"}
            <a class="pointer" id="btnDisplayMode_{$value->getId()}" onclick="toggleArticleDisplayMode(this,{$value->getId()})" title="{function="_t('EVENT_DISPLAY_CONTENT')"}">|||</a>
            {/if}
            <a class="pointer right readUnreadButton">({function="_t('READ')"}/{function="_t('UNREAD')"})</a>
            {function="Plugin::callHook("event_post_top_options", array(&$value))"}
        </h3>

        <!-- CONTENU/DESCRIPTION -->
        {if="$articleDisplayMode=='summary'"}
            <div class="articleContent summary">
            {function="Plugin::callHook("event_pre_description", array(&$value))"}
            {$value->getDescription()}
            {function="Plugin::callHook("event_post_description", array(&$value))"}
            </div>
        {else}
            <div class="articleContent summary" style="display: none;"></div>
        {/if}

        {if="$articleDisplayMode=='content'"}
            <div class="articleContent content">
            {function="Plugin::callHook("event_pre_content", array(&$value))"}
            {$value->getContent()}
            {function="Plugin::callHook("event_post_content", array(&$value))"}
            </div>
        {else}
            <div class="articleContent content" style="display: none;"></div>
        {/if}

        {if="$articleDisplayMode=='content'"}
        <!-- RAPPEL DETAILS + OPTIONS POUR LES ARTICLES AFFICHES EN ENTIER -->
        <h3 class="articleDetails">
        {else}
        <h3 class="articleDetails" style="display: none;">
        {/if}
            {function="Plugin::callHook("event_pre_bottom_options", array(&$value))"}

            <a class="pointer right readUnreadButton">({function="_t('READ')"}/{function="_t('UNREAD')"})</a>
            {if="$value->getFavorite()!=1"}<a class="right pointer favorite"  onclick="addFavorite(this,{$value->getId()});">{function="_t('FAVORIZE')"}</a>
            {else}
            <a class="right pointer favorite" onclick="removeFavorite(this,{$value->getId()});">{function="_t('UNFAVORIZE')"}</a>
            {/if}
            <div class="clear"></div>
            {function="Plugin::callHook("event_post_bottom_options", array(&$value))"}
        </h3>
    </section>
    {function="Plugin::callHook("event_post_section", array(&$value))"}
    {$hightlighted=$hightlighted+1}
{/loop}
{if="$scroll && $events"}<div class='scriptaddbutton'><script>addEventsButtonLuNonLus();</script></div>{/if}
