<!--
 @nom: footer
 @auteur: Idleman (idleman@idleman.fr)
 @description: Page de bas de page commun a toutes les vues
-->

    </div> <!-- #main-container -->

    <div id="footer-container">
        <footer class="wrapper">
            <p>Leed "Light Feed" {function="_t('FABULOUS_AGREGATOR_LAUNCHED_IN',array($executionTime,'<a target="_blank" href="http://blog.idleman.fr">Idleman</a>'))"} | <a href="about.php">{function="_t('ABOUT',array())"}</a></p>
            {function="Plugin::callHook("footer_post_copyright", array(&$myUser))"}
        </footer>
    </div>
</div>

<script>
var  i18n = {$i18n_js};
</script>
<script src="js/libs/jqueryAndModernizr.min.js"></script>
<script src="js/script.js"></script>
{function="Plugin::callJs()"}
</body>
</html>
