<!--
 @nom: footer
 @auteur: Idleman (idleman@idleman.fr)
 @description: Page de bas de page commun a toutes les vues
-->

	</div> <!-- #main-container -->

	<div id="footer-container">
		<footer class="wrapper">
			<p>Leed "Light Feed" fabuleux agrégateur exécuté en {$executionTime} secondes par <a target="_blank" href="http://blog.idleman.fr">Idleman</a> | <a href="about.php">À propos</a></p>
			{function="Plugin::callHook("footer_post_copyright", array(&$myUser))"}
		</footer>
	</div>
</div>

<script src="js/libs/jqueryAndModernizr.min.js"></script>
<script src="js/script.js"></script>
{function="Plugin::callJs()"}
</body>
</html>
