{include="header"}

<!--
 @nom: settings
 @auteur: Idleman (idleman@idleman.fr)
 @description: Page de gestion de toutes les préférences/configurations administrateur
-->

{if="($configurationManager->get('articleDisplayAnonymous')=='1') || ($myUser!=false)"}


		<div id="main" class="wrapper clearfix settings">
			<div id="menuBar">
				<aside>
					<h3>{function="I18n::t('FEED_OPTION')"}</h3>
					<ul>
							
							
							<li><a class="toggle" href="#manageBloc">{function="I18n::t('FEED_MANAGING')"}</a></li>
							<li><a class="toggle" href="#synchronizeBloc">{function="I18n::t('MANUAL_FEED_UPDATE')"}</a></li>
							<li><a class="toggle" href="#preferenceBloc">{function="I18n::t('PREFERENCES')"}</a></li>
							<li><a class="toggle" href="#importBloc">{function="I18n::t('IMPORT')"}</a></li>
							<li><a class="toggle" href="#exportBloc">{function="I18n::t('EXPORT')"}</a></li>
							<li><a class="toggle" href="#bookBloc">{function="I18n::t('BOOKMARKLET')"}</a></li>
							<li><a class="toggle" href="#pluginBloc">{function="I18n::t('AVAILABLES_PLUGINS')"}</a></li>
							<li class="pointer" onclick="if(confirm('{function="I18n::t('CONFIRM_TRASH_EVENTS')"}')){window.location='action.php?action=purge';}">{function="I18n::t('TRASH_EVENTS')"}</a></li>
							{function="Plugin::callHook("setting_post_link", array(&$myUser))"}
					</ul>
				</aside>
			</div>
			<article>


			<section class="manageBloc">

					<h2>{function="I18n::t('FEED_MANAGING')"} :</h2>

					<form action="action.php?action=addFeed" method="POST">
				<section class="addBloc">
					<h3>{function="I18n::t('ADD_FEED')"}</h3>
					<p>{function="I18n::t('FEED_RSS_LINK')"} : <input type="text" name="newUrl" placeholder="http://monflux.com/rss"/>&nbsp;
					 <select name="newUrlCategory">
						{loop="$folders"}
							<option {if="$value->getId()==1"}selected="selected"{/if} value="{$value->getId()}">{$value->getName()}</option>
						{/loop}
					</select>
					 <button>{function="I18n::t('ADD')"}</button></p>
				
				</section>
				</form>

				<section class="addBloc">
				<h3>{function="I18n::t('ADD_FOLDER')"}</h3>
			
					<form method="POST" action="action.php?action=addFolder">
						{function="I18n::t('NEW_FOLDER')"} <input type="text" name="newFolder"> <button>{function="I18n::t('ADD')"}</button>
					</form>
					
				</section>

					<ul class="clear nochip">
				    {$feedsForFolder=""}
					{loop="$folders"}  
					
					{$feedsForFolder=$value->getFeeds()}
						
					<li>{if="$value->getId()==1"}<a name="defaultFolder"></a>{/if}
						<h1 class="folder left" ><span>{$value->getName()}</span> ({function="count($feedsForFolder)"})

						<button  onclick="renameFolder(this,{$value->getId()})">{function="I18n::t('RENAME')"}</button>
						{if="$value->getId()!='1'"}
						<button  onclick="if(confirm('{function="I18n::t('CONFIRM_DELETE_FOLDER')"}'))window.location='action.php?action=removeFolder&amp;id={$value->getId()}'">{function="I18n::t('DELETE')"}</button>
						{/if}
						
<div class="clear"></div>
						</h1>
<div class="clear"></div>
						<table  style="width:100%;">
							{if="count($feeds)!=0"}
							{loop="$feedsForFolder"}
								<tr>
									<td style="width:50%;"><a href="index.php?action=selectedFeed&feed={$value2->getId();}">{function="Functions::truncate($value2->getName(),40)"}</a><span class="underlink">{$value2->getUrl()}</span></td>
									<td>
										<select onchange="changeFeedFolder(this,{$value2->getId()});">
											{loop="$folders"}
												<option {if="$value2->getFolder()==$value3->getId()"}selected="selected"{/if} value="{$value3->getId()}">{$value3->getName()}</option>
											{/loop}
										</select>
									</td>
									<td><button onclick="renameFeed(this,{$value2->getId()})">{function="I18n::t('RENAME')"}</button></td>
									<td><button onclick="if(confirm('{function="I18n::t('CONFIRM_DELETE_FEED')"}')){window.location='action.php?action=removeFeed&id={$value2->getId()}';}">{function="I18n::t('DELETE')"}</button></td></tr>
							{/loop}
							{/if}
						</table>
					</li>
					{/loop}
				</ul>
				</section>

				<section class="synchronizeBloc">
					 <h2>{function="I18n::t('FEED_SYNCHRONISATION')"} :</h2>
					 <iframe class="importFrame" src="action.php?action=synchronizeForm" name="idFrameSynchro" id="idFrameSynchro" width="100%" height="300" ></iframe>
				</section>

				{if="(isset($myUser)) && ($myUser!=false)"}
				<section class="preferenceBloc">
					<h2>{function="I18n::t('PREFERENCES')"} :</h2>
					<form method="POST" action="action.php?action=updateConfiguration">
					<section>
						<h3>{function="I18n::t('GENERALITY')"}</h3>
						<p><label for="root">{function="I18n::t('PROJECT_ROOT')"} :</label> <input type="text" id="root" name="root" value="{$configurationManager->get('root')}"></p>
						<h4>{function="I18n::t('LET_SLASH_AT_END')"}</h4>
					</section>

					<section>
						<h3>{function="I18n::t('USER')"}</h3>
						<p><label for="login">{function="I18n::t('LOGIN')"} :</label> <input type="text" id="login" name="login" value="{$myUser->getLogin()}"></p>
						<p><label for="password">{function="I18n::t('PASSWORD')"} :</label> <input type="password" id="password" name="password" autocomplete="off" value=""></p>
						<h4>{function="I18n::t('LET_EMPTY_IF_NO_PASS_CHANGE')"}</h4>
					
					</section>

					<section>
						<h3>{function="I18n::t('SYNCHRONISATION')"}</h3>
						<p><input type="radio"  {if="$synchronisationType=='auto'"} checked="checked" {/if} value="auto" id="synchronisationTypeComplete" name="synchronisationType"> <label for="synchronisationTypeComplete"><strong>
							{function="I18n::t('AUTOMATIC_FULL')"} :</strong></label> {function="I18n::t('AUTOMATIC_FULL_DESC')"}</p>
						<p><input type="radio" {if=" $synchronisationType=='graduate'"} checked="checked" {/if}  value="graduate" id="synchronisationTypeGraduated" name="synchronisationType"> <label for="synchronisationTypeGraduated"><strong>{function="I18n::t('AUTOMATIC_GRADUATE')"} :</strong></label> {function="I18n::t('AUTOMATIC_GRADUATE_DESC')"}</p>
						<p><input type="radio" {if="$synchronisationType=='manual'"} checked="checked" {/if}  value="manual" id="synchronisationTypeManual" name="synchronisationType"> <label for="synchronisationTypeManual"><strong>{function="I18n::t('MANUAL_FULL')"} :</strong></label> {function="I18n::t('MANUAL_FULL_DESC')"}</p>
					
						<p><strong>{function="I18n::t('SYNCHRONISATION_CODE')"} :</strong>
						{$synchronisationCode}
						</p>
						<p><strong>{function="I18n::t('SYNCHRONISATION_OPTION')"}</strong>
						<fieldset>
							<legend>{function="I18n::t('ENABLE_CACHE')"}</legend>
							<input type="radio" {if="$synchronisationEnableCache"} checked="checked" {/if} value="1" id="synchronisationEnableCacheYes" name="synchronisationEnableCache" /><label for="synchronisationEnableCacheYes">{function="I18n::t('YES')"}</label>
							<input type="radio" {if="!$synchronisationEnableCache"} checked="checked" {/if} value="0" id="synchronisationEnableCacheNo" name="synchronisationEnableCache" /><label for="synchronisationEnableCacheNo">{function="I18n::t('NO')"}</label>
							<p>{function="I18n::t('ENABLE_CACHE_DESC')"}</p>
						</fieldset>
						<fieldset>
							<legend>{function="I18n::t('FORCE_INTEGRATION')"}</legend>
							<input type="radio" {if="$synchronisationForceFeed"} checked="checked" {/if} value="1" id="synchronisationForceFeedYes" name="synchronisationForceFeed" /><label for="synchronisationForceFeedYes">{function="I18n::t('YES')"}</label>
							<input type="radio" {if="!$synchronisationForceFeed"} checked="checked" {/if} value="0" id="synchronisationForceFeedNo" name="synchronisationForceFeed" /><label for="synchronisationForceFeedNo">{function="I18n::t('NO')"}</label>
							<p>{function="I18n::t('FORCE_INTEGRATION_DESC')"}</p>
						</fieldset>
						</p>
					</section>

					<section>
						{if="$myUser!=false"}
						<h3>{function="I18n::t('PREFERENCES')"}</h3>
						<fieldset>
							<legend>{function="I18n::t('ALLOW_ANONYOUS_READ')"}</legend>
							<input type="radio" {if="$articleDisplayAnonymous=='1'"} checked="checked" {/if} value="1" id="articleDisplayAnonymousYes" name="articleDisplayAnonymous" /><label for="articleDisplayAnonymousYes">{function="I18n::t('YES')"}</label>
							<input type="radio" {if="$articleDisplayAnonymous=='0'"} checked="checked" {/if} value="0" id="articleDisplayAnonymousNo" name="articleDisplayAnonymous" /><label for="articleDisplayAnonymousNo">{function="I18n::t('NO')"}</label>
							<h4>{function="I18n::t('ALLOW_ANONYOUS_READ_DESC')"}</h4>
						</fieldset>
						<fieldset>
							<legend><label for="articlePerPages">{function="I18n::t('EVENT_NUMBER_PER_PAGES')"}</label></legend>
							<input type="text" value="{$configurationManager->get('articlePerPages')}" id="articlePerPages" name="articlePerPages" size="4" />
						</fieldset>
						<fieldset>
							<legend>{function="I18n::t('SORT_BY_RECENT_EVENT_HOME')"}</legend>
							<input type="radio" {if="$articleDisplayHomeSort"} checked="checked" {/if} value="1" id="articleDisplayHomeSortYes" name="articleDisplayHomeSort" /><label for="articleDisplayHomeSortYes">{function="I18n::t('YES')"}</label>
							<input type="radio" {if="!$articleDisplayHomeSort"} checked="checked" {/if} value="0" id="articleDisplayHomeSortNo" name="articleDisplayHomeSort" /><label for="articleDisplayHomeSortNo">{function="I18n::t('NO')"}</label>
						</fieldset>
						<fieldset>
							<legend>{function="I18n::t('SORT_BY_RECENT_EVENT_FOLDER')"}</legend>
							<input type="radio" {if="$articleDisplayFolderSort"} checked="checked" {/if} value="1" id="articleDisplayFolderSortYes" name="articleDisplayFolderSort" /><label for="articleDisplayFolderSortYes">{function="I18n::t('YES')"}</label>
							<input type="radio" {if="!$articleDisplayFolderSort"} checked="checked" {/if} value="0" id="articleDisplayFolderSorttNo" name="articleDisplayFolderSort" /><label for="articleDisplayFolderSortNo">{function="I18n::t('NO')"}</label>
						</fieldset>
						<fieldset>
							<legend>{function="I18n::t('SHOW_EVENT_LINK')"}</legend>
							<input type="radio"  {if="$articleDisplayLink=='1'"} checked="checked" {/if}value="1" id="articleDisplayLinkYes" name="articleDisplayLink" /><label for="articleDisplayLinkYes">{function="I18n::t('YES')"}</label>
							<input type="radio" {if="$articleDisplayLink=='0'"} checked="checked" {/if} value="0" id="articleDisplayLinkNo" name="articleDisplayLink" /><label for="articleDisplayLinkNo">{function="I18n::t('NO')"}</label>
						</fieldset>
						<fieldset>
							<legend>{function="I18n::t('SHOW_EVENT_DATE')"}</legend>
							<input type="radio" {if="$articleDisplayDate=='1'"} checked="checked" {/if} value="1" id="articleDisplayDateYes" name="articleDisplayDate" /><label for="articleDisplayDateYes">{function="I18n::t('YES')"}</label>
							<input type="radio" {if="$articleDisplayDate=='0'"} checked="checked" {/if} value="0" id="articleDisplayDateNo" name="articleDisplayDate" /><label for="articleDisplayDateNo">{function="I18n::t('NO')"}</label>
						</fieldset>
						<fieldset>
							<legend>{function="I18n::t('SHOW_EVENT_AUTHOR')"}</legend>
							<input type="radio" {if="$articleDisplayAuthor=='1'"} checked="checked" {/if} value="1" id="articleDisplayAuthorYes" name="articleDisplayAuthor" /><label for="articleDisplayAuthorYes">{function="I18n::t('YES')"}</label>
							<input type="radio" {if="$articleDisplayAuthor=='0'"} checked="checked" {/if} value="0" id="articleDisplayAuthorNo" name="articleDisplayAuthor" /><label for="articleDisplayAuthorNo">{function="I18n::t('NO')"}</label>
						</fieldset>
						<fieldset>
							<legend>{function="I18n::t('SHOW_EVENT_CONTENT')"}</legend>
							<input type="radio" onchange="$('.articleView').slideToggle(200);" {if="$articleDisplayContent=='1'"} checked="checked" {/if} value="1" id="articleDisplayContentYes" name="articleDisplayContent" /><label for="articleDisplayContentYes">{function="I18n::t('YES')"}</label>
							<input type="radio" onchange="$('.articleView').slideToggle(200);" {if="$articleDisplayContent=='0'"} checked="checked" {/if} value="0" id="articleDisplayContentNo" name="articleDisplayContent" /><label for="articleDisplayContentNo">{function="I18n::t('NO')"}</label>
							<div class="articleView"{$articleDisplayContent==0 ? 'style="display: none;"':''}>
								<input type="radio" {if="$articleView=='partial'"} checked="checked" {/if} value="partial" id="articleViewPartial" name="articleView"{if="$articleDisplayContent=='0'"} disabled="disabled"{/if} /><label for="articleViewPartial">{function="I18n::t('PARTIAL')"}</label>
								<input type="radio" {if="$articleView=='complete'"} checked="checked" {/if} value="complete" id="articleViewComplete" name="articleView"{if="$articleDisplayContent=='0'"} disabled="disabled"{/if} /><label for="articleViewComplete">{function="I18n::t('FULL')"}</label>
							</div>
							<h4>{function="I18n::t('SHOW_PARTIAL_CONTENT_DESC')"}</h4>
						</fieldset>
						<fieldset>
							<legend>{function="I18n::t('KEEP_LAST_X_EVENTS_FEED',array('<input type="text" value="'.$configurationManager->get('feedMaxEvents').'" name="feedMaxEvents" size="4" />'))"}</legend>
							<h4>{function="I18n::t('KEEP_LAST_X_EVENTS_FEED_DESC')"}</h4>
						</fieldset>
					
					</section>

			


					<button name="installButton">{function="I18n::t('SAVE')"}</button>
					</form>
					{else}
					<p>{function="I18n::t('YOU_MUST_BE_CONNECTED_BOOKMARK')"}</p>
					{/if}
				</section>
			{/if}


				<section class="importBloc">
					<h2>{function="I18n::t('IMPORT_FEED_OPML_FORMAT')"}</h2>
					<iframe class="importFrame" src="action.php?action=importForm" name="idFrame" id="idFrame" width="100%" height="300" ></iframe>
				</section>

				
				<section class="exportBloc">
					<form action="action.php?action=exportFeed" method="POST">
						<h2>{function="I18n::t('EXPORT_FEED_OPML_FORMAT')"}</h2>
						<p>{function="I18n::t('OPML_FILE')"} : <button name="exportButton">{function="I18n::t('EXPORT')"}</button></p>
					</form>
				</section>
				
				<section class="bookBloc">
					<h2>{function="I18n::t('USE_BOOKMARK')"} :</h2>
					<p>{function="I18n::t('USE_BOOKMARK_DESC')"} :</p>
					{if="$myUser!=false"}
					
					<a class="button" href="javascript:document.location='{$configurationManager->get('root')}action.php?action=login&newUrl='+escape(document.location)+'&usr={function="sha1($myUser->getPassword().$myUser->getLogin())"}'">+ {function="I18n::t('ADD_TO_LEED')"}</a>
					{else}
					<p>{function="I18n::t('YOU_MUST_BE_CONNECTED_BOOKMARK')"}</p>
					{/if}
				</section>
				

				
				<section class="pluginBloc">
					<h2>{function="I18n::t('PLUGINS')"} :</h2>
					<p>{function="I18n::t('CAN_DOWNLOAD_PLUGINS')"} : <a href="https://github.com/ldleman/Leed-market/"> Leed Market</a>.</p>
					<p>{function="I18n::t('AVAILABLE_PLUGIN_LIST')"} :</p>
					{if="$myUser!=false"}
					<ul class="pluginList">
					{if="count($plugins)==0"}
					{function="I18n::t('NO_INSTALLED_PLUGINS')"}
					
					{else}
					{loop="$plugins"}
					<li>
						<ul>
							<li><h4>{function="I18n::t('NAME')"}: </h4>{$value->getName()}</li>
							<li><h4>{function="I18n::t('AUTHOR')"}: </h4><a href="mailto:{$value->getMail()}">{$value->getAuthor()}</a></li>
							<li><h4>{function="I18n::t('LICENCE')"}: </h4>{$value->getLicence()}</li>
							<li><h4>{function="I18n::t('VERSION')"}: </h4><code>{$value->getVersion()}</code></li>
							<li><h4>{function="I18n::t('SITE')"}: </h4><a href="{$value->getLink()}">{$value->getLink()}</a></li>
							<li>{$value->getDescription()}</li>
							<li><a href="action.php?action=changePluginState&plugin={$value->getUid()}&state={$value->getState()}" class="button">{$value->getState()=="0"?I18n::t('ENABLE'):I18n::t('DISABLE')}</a></li>
						</ul>
					</li>
					{/loop}
					{/if}
					</ul>

					{else}
					<p>{function="I18n::t('YOU_MUST_BE_CONNECTED_PLUGIN')"}</p>
					{/if}
				</section>

				

				
				{function="Plugin::callHook("setting_post_section", array(&$myUser))"}
			</article>
			
			
		</div> <!-- #main -->

{else}
	<div id="main" class="wrapper clearfix">
		<article>
				<h3>{function="I18n::t('YOU_MUST_BE_CONNECTED_FEED')"}</h3>
				<p>{function="I18n::t('IF_ADMIN_THEN_CONFIG')"}</p>
		</article>
	</div>

{/if}
{include="footer"}
