{include="header"}

        <div id="main" class="wrapper clearfix about">

            <div id="menuBar">
                <aside>
                    <h3>{function="_t('AUTHOR')"}</h3>
                    <ul>
                            <li>{function="_t('NAME')"} : Valentin CARRUESCO aka Idleman</li>
                            <li>{function="_t('MAIL')"} : <a href="mailto: idleman@idleman.fr">idleman@idleman.fr</a></li>
                            <li>{function="_t('BLOG')"} : <a href="http://blog.idleman.fr">blog.idleman.fr</a></li>
                            <li>{function="_t('CONTRIBUTORS')"} : <a href="mailto:cobalt74@gmail.com">Maël ILLOUZ aka Cobalt74</a>, <a href="mailto:christophe.henry@sbgodin.fr">Christophe HENRY aka Sbgodin</a>, <a href="mailto:contact@simounet.net">Simon ALBERNY aka Simounet</a></li>
                    </ul>
                </aside>
            </div>

            <article>
                <header>
                    <h1>{function="_t('ABOUT')"}</h1>
                    <p>{function="_t('ABOUT_LEED')"}</p>
                </header>


                <section>
                    <h2>{function="_t('GENERALITY')"} :</h2>
                    <ul>
                        <li><b>{function="_t('APPLICATION')"} :</b> Leed (Light Feed)</li>
                        <li><b>{function="_t('VERSION')"} :</b> {$VERSION_NUMBER} {$VERSION_NAME}</li>
                        <li><b>{function="_t('AUTHOR')"} :</b> Valentin CARRUESCO aka <a href="mailto:idleman@idleman.fr">Idleman</a></li>
                        <li><b>{function="_t('PROJECT_PAGE')"}:</b> <a href="http://projet.idleman.fr/leed">http://projet.idleman.fr/leed</a></li>
                        <li><b>{function="_t('GIT_REPOSITORY')"} :</b> <a href="https://github.com/ldleman/Leed.git">https://github.com/ldleman/Leed.git</a></li>
                        <li><b>Licence :</b> <a href="https://www.gnu.org/licenses/agpl-3.0.html">AGPL-3.0</a></li>
                    </ul>

                    <h2>{function="_t('PRESENTATION')"}</h2>
                    <p>{function="_t('PRESENTATION_PARAGRAPH')"}</p>

                    <h2>{function="_t('INSTALLATION')"}</h2>
                    {function="_t('INSTALLATION_PARAGRAPH')"}

                    <h2>{function="_t('QUESTIONS_SUGGESTIONS')"}</h2>
                    {function="_t('QUESTIONS_SUGGESTIONS_PARAGRAPH')"}

                    <h2>{function="_t('LIBRARIES')"}</h2>
                    {function="_t('LIBRARIES_PARAGRAPHE')"}

                </section>



            </article>


        </div> <!-- #main -->


{include="footer"}
