<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
    <title>Leed</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=100,chrome=1">
    <meta name="description" content="Agrégateur de flux RSS Leed">
    <meta name="author" content="IdleMan">
    <link rel="shortcut icon" type="image/png" href="favicon.png">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="css/style.css">
    {function="Plugin::callLink()"}
    {function="Plugin::callCss()"}
    {function="Plugin::callHook("head_post_links", array())"}
</head>
<body>
    <div class="global-wrapper">
        <!-- <!> Balise ayant double utilité : sert de base a javascript pour connaitre l'action courante permet le retour en haut de page -->
        <a id="pageTopAnvil"></a>
        <a id="pageTop" class="hidden">{$action}</a>
        <div id="header-container">
            <header class="wrapper clearfix">
                <h1 class="logo" id="title"><a href="./index.php">L<i>eed</i></a></h1>
                <div class="loginBloc">
                    {if="!$myUser"}
                    {if="$wrongLogin"}
                        {$wrongLoginClass=' wrongLogin'}
                    {else}
                        {$wrongLoginClass=''}
                    {/if}
                    <form action="action.php?action=login" method="POST" class="{$wrongLoginClass}">
                        <input id="inputlogin" type="text" class="miniInput left" name="login" placeholder="{function="_t('LOGIN')"}"/>
                        <input type="password" class="miniInput left" name="password" placeholder="{function="_t('PASSWORD')"}"/>
                        <button class="left">GO!!</button>
                        <span id="rememberMe">
                            <input type="checkbox" name="rememberMe">
                            <span>{function="_t('REMEMBER_ME')"}</span>
                        </span>
                        <div class="clear"></div>
                    </form>
                    {else}
                        <span>{function="_t('IDENTIFIED_WITH',array('<span>'.$myUser->getLogin().'</span>'))"} </span><button onclick="window.location='action.php?action=logout'">{function="_t('DISCONNECT')"}</button>
                    {/if}
                    <div class="clear"></div>
                </div>

                <nav>
                    <ul>
                        <li><a href="index.php">{function="_t('HOME')"}</a></li>
                        <li><a href="index.php?action=favorites">{function="_t('FAVORITES')"}</a></li>
                        <li><a href="settings.php">{function="_t('MANAGE')"}</a></li>
                        <li><a class="synchronyzeButton" title="{function="_t('LAUNCH_SYNCHRONISATION')"}" onclick="synchronize('{if="$myUser"}{$synchronisationCode}{/if}');">↺</a></li>
                        {function="Plugin::callHook("navigate_post_link", array(&$myUser))"}
                    </ul>
                </nav>
            </header>
        </div>
    <div id="main-container">
